<template>
  <section v-if="hasBookmarks">
    <h3>
      {{
        countOfBookmarks.length > 1
          ? countOfBookmarks + " Bookmarks"
          : countOfBookmarks + " Bookmark"
      }}
    </h3>
    <ul>
      <bookmark
        v-for="repository in bookmarks"
        :key="repository.id"
        :id="repository.id"
        :repository-url="repository.repositoryUrl"
        :name="repository.name"
        :author="repository.author"
        :stars="repository.stars"
        :forks="repository.forks"
      ></bookmark>
    </ul>
  </section>
  <h3 v-else>No bookmarks yet!</h3>
</template>

<script>
import Bookmark from "../bookmarks/Bookmark";

export default {
  components: { Bookmark },
  computed: {
    bookmarks() {
      return this.$store.getters["bookmarks/bookmarks"];
    },
    countOfBookmarks() {
      return this.bookmarks.length;
    },
    hasBookmarks() {
      return this.bookmarks.length > 0;
    },
  },
};
</script>
