<template>
  <bookmarks-list></bookmarks-list>
</template>

<script>
import BookmarksList from "../components/bookmarks/BookmarksList.vue";

export default {
  components: { BookmarksList },
};
</script>
