<template>
  <search-form></search-form>
  <search-results-list></search-results-list>
</template>

<script>
import SearchForm from "../components/search/SearchForm";
import searchResultsList from "../components/search/SearchResultsList";

export default {
  components: { SearchForm, searchResultsList },
};
</script>
