<template>
  <header>
    <nav class="nav">
      <router-link to="/">Search</router-link> |
      <router-link to="/bookmarks">Bookmarks</router-link>
    </nav>
  </header>
  <div></div>
</template>

<style lang="less" scoped>
.nav {
  padding: @gutter*4;
  a {
    font-weight: bold;
    color: @text-gray;

    &.router-link-exact-active {
      color: @vue-green;
    }
  }
}
</style>
