<template>
  <section>
    <form @submit.prevent="searchTermValidity ? submitSearch() : showError()">
      <div class="input-group">
        <input
          v-model="searchTerm"
          type="text"
          class="search-input"
          placeholder="Search ..."
          :class="errorMessage ? 'error' : ''"
          @keyup="validateInput"
        />
        <button type="submit" class="search-button button">
          <svg
            class="search-icon"
            viewBox="0 0 16 16"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M11.072 12.1326C10.0405 12.9373 8.7429 13.4167 7.33333 13.4167C3.9736 13.4167 1.25 10.6931 1.25 7.33333C1.25 3.9736 3.9736 1.25 7.33333 1.25C10.6931 1.25 13.4167 3.9736 13.4167 7.33333C13.4167 8.74289 12.9373 10.0405 12.1326 11.0719L14.5303 13.4696C14.8232 13.7625 14.8232 14.2374 14.5303 14.5303C14.2374 14.8232 13.7626 14.8232 13.4697 14.5303L11.072 12.1326ZM2.75 7.33333C2.75 4.80203 4.80203 2.75 7.33333 2.75C9.86464 2.75 11.9167 4.80203 11.9167 7.33333C11.9167 8.56596 11.4301 9.68494 10.6385 10.5087C10.6146 10.5273 10.5917 10.5477 10.5697 10.5696C10.5477 10.5916 10.5274 10.6146 10.5087 10.6385C9.68496 11.4301 8.56597 11.9167 7.33333 11.9167C4.80203 11.9167 2.75 9.86464 2.75 7.33333Z"
              fill="#A0AEC0"
            />
          </svg>
        </button>
        <p class="error" v-if="errorMessage">
          Please provide something to search by!
        </p>
      </div>
    </form>
  </section>
</template>

<script>
export default {
  data() {
    return {
      searchTerm: "",
      perPage: 12,
      page: 1,
      searchTermValidity: false,
      errorMessage: false,
    };
  },
  methods: {
    submitSearch() {
      if (this.searchTermValidity) {
        this.$store.dispatch({
          type: "searchResults/loadResults",
          value: {
            searchTerm: this.searchTerm,
            perPage: this.perPage,
            page: this.page,
          },
        });
      }
    },
    validateInput() {
      if (this.searchTerm.length > 0) {
        this.errorMessage = false;
        this.searchTermValidity = true;
      } else {
        this.errorMessage = true;
        this.searchTermValidity = false;
      }
    },
    showError() {
      this.errorMessage = true;
    },
  },
};
</script>

<style lang="less">
.input-group {
  display: inline-block;
  position: relative;

  .search-input {
    width: 210px;
    height: 40px;
    border: 1px solid @border-white;
    border-radius: 4px;
    padding-left: @gutter*4;
    padding-right: @gutter*6;
    outline: none;

    &.error {
      border-color: @error-red;
    }
    &::placeholder {
      .font-size-s();
      color: @placeholder-gray;
    }
  }
  .search-icon {
    width: 16px;
  }
  .search-button {
    margin-left: -@gutter-small*6;
    padding: @gutter-small*2;
    background: transparent;
    border: none;
    vertical-align: middle;
    outline: none;
  }
  .error {
    color: @error-red;
  }
}
</style>
