<template>
  <base-repo
    :id="id"
    :repository-url="repositoryUrl"
    :name="name"
    :author="author"
    :stars="stars"
    :forks="forks"
  >
    <div class="actions">
      <button
        @click="toggleBookmark"
        :class="bookmarked ? 'bookmarked' : ''"
        class="bookmark-button button"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="icon bookmark-icon"
          viewBox="-58 0 404 404.53989"
        >
          <path
            class="fill"
            d="m277.53125 10v374.53125c-.003906 3.746094-2.101562 7.179688-5.4375 8.890625s-7.347656 1.414063-10.394531-.773437l-117.800781-84.4375-117.796876 84.4375c-3.046874 2.1875-7.058593 2.484374-10.394531.773437-3.335937-1.710937-5.433593-5.144531-5.4375-8.890625v-374.53125zm0 0"
          />
          <path
            class="outline"
            d="m277.53125 0h-267.261719c-5.523437 0-10 4.476562-10 10v374.53125c-.007812 7.5 4.183594 14.378906 10.859375 17.804688 6.675782 3.425781 14.707032 2.824218 20.796875-1.558594l111.972657-80.261719 111.972656 80.257813c6.089844 4.375 14.117187 4.96875 20.789062 1.546874 6.671875-3.421874 10.867188-10.292968 10.871094-17.789062v-374.53125c0-5.523438-4.476562-10-10-10zm-10 384.523438-117.800781-84.441407c-3.484375-2.496093-8.167969-2.496093-11.652344 0l-117.808594 84.449219v-364.53125h247.261719zm0 0"
          />
        </svg>
      </button>
    </div>
  </base-repo>
</template>
<script>
import BaseRepo from "../repositories/BaseRepo";

export default {
  components: { BaseRepo },
  props: [
    "id",
    "repository-url",
    "name",
    "author",
    "stars",
    "forks",
    "bookmarked",
  ],
  methods: {
    toggleBookmark() {
      if (!this.bookmarked) {
        this.$store.dispatch({
          type: "bookmarks/addBookmark",
          value: this,
        });
      } else {
        this.$store.dispatch({
          type: "bookmarks/deleteBookmark",
          value: this,
        });
      }
    },
  },
};
</script>

<style lang="less" scoped>
.bookmark-icon {
  width: 30px;
  .fill {
    fill: transparent;
  }
  .outline {
    fill: @vue-green;
  }
}
.bookmark-button.bookmarked {
  .bookmark-icon {
    .fill {
      fill: @vue-green;
    }
  }
}
</style>
