<template>
  <section v-if="hasResults">
    <h3>{{ totalResults }} Total results</h3>
    <ul>
      <search-result
        v-for="repository in searchResults"
        :key="repository.id"
        :id="repository.id"
        :repository-url="repository.html_url"
        :name="repository.name"
        :author="repository.owner.login"
        :stars="repository.stargazers_count"
        :forks="repository.forks_count"
        :bookmarked="repository.bookmarked"
      ></search-result>
    </ul>
  </section>
  <h3 v-else>No Results</h3>
</template>

<script>
import SearchResult from "../search/SearchResult";

export default {
  components: { SearchResult },
  computed: {
    searchResults() {
      return this.$store.getters["searchResults/searchResults"];
    },
    totalResults() {
      return this.$store.getters["searchResults/totalResults"];
    },
    hasResults() {
      return this.searchResults.length > 0;
    },
  },
};
</script>
