<template>
  <the-header></the-header>
  <router-view />
</template>

<script>
import TheHeader from "@/components/TheHeader";
export default {
  components: {
    TheHeader,
  },
};
</script>

<style lang="less">
* {
  box-sizing: border-box;
}
#app {
  margin-left: auto;
  margin-right: auto;
  max-width: 1012px;
  font-family: @default-font;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: @text-gray;

  h4 {
    .font-size-s();
    font-weight: 500;
    color: @text-lighter-gray;
  }
  h5 {
    display: flex;
    color: @lighter-gray;
    margin: (@gutter / 2) @gutter-small*2 (@gutter / 2) (@gutter / 2);
  }

  label {
    .font-size-xs();
    color: @text-lighter-gray;
    text-align: left;
    cursor: pointer;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    li {
      list-style: none;
      text-align: left;
    }
  }
}
</style>
