@border-white: #e2e8f0;
@border-gray: #edf2f7;

@text-gray: #2d3748;
@text-lighter-gray: #718096;
@placeholder-gray: #a0aec0;
@hover-gray: #f7fafc;
@lighter-gray: #4a5568;

@button-blue: #c8e7f9;
@button-dark-blue: #2c5282;

@vue-green: #42b983;

@error-red: #c72121;
@delete-red: #845555;
