<template>
  <li :class="id.toString()" class="repo">
    <div class="repo-wrapper">
      <div class="description">
        <a :href="repositoryUrl">
          {{ name }}
        </a>
        <h4>Author: {{ author }}</h4>
      </div>
      <div class="stats">
        <h5>
          <svg
            aria-label="stars"
            class="star-icon icon"
            viewBox="0 0 16 16"
            version="1.1"
            role="img"
          >
            <path
              fill-rule="evenodd"
              d="M8 .25a.75.75 0 01.673.418l1.882 3.815 4.21.612a.75.75 0 01.416 1.279l-3.046 2.97.719 4.192a.75.75 0 01-1.088.791L8 12.347l-3.766 1.98a.75.75 0 01-1.088-.79l.72-4.194L.818 6.374a.75.75 0 01.416-1.28l4.21-.611L7.327.668A.75.75 0 018 .25zm0 2.445L6.615 5.5a.75.75 0 01-.564.41l-3.097.45 2.24 2.184a.75.75 0 01.216.664l-.528 3.084 2.769-1.456a.75.75 0 01.698 0l2.77 1.456-.53-3.084a.75.75 0 01.216-.664l2.24-2.183-3.096-.45a.75.75 0 01-.564-.41L8 2.694v.001z"
            ></path>
          </svg>
          {{ stars }}
        </h5>
        <h5>
          <svg
            aria-label="forks"
            class="forked-icon icon"
            viewBox="0 0 16 16"
            version="1.1"
            role="img"
          >
            <path
              fill-rule="evenodd"
              d="M5 3.25a.75.75 0 11-1.5 0 .75.75 0 011.5 0zm0 2.122a2.25 2.25 0 10-1.5 0v.878A2.25 2.25 0 005.75 8.5h1.5v2.128a2.251 2.251 0 101.5 0V8.5h1.5a2.25 2.25 0 002.25-2.25v-.878a2.25 2.25 0 10-1.5 0v.878a.75.75 0 01-.75.75h-4.5A.75.75 0 015 6.25v-.878zm3.75 7.378a.75.75 0 11-1.5 0 .75.75 0 011.5 0zm3-8.75a.75.75 0 100-1.5.75.75 0 000 1.5z"
            ></path>
          </svg>
          {{ forks }}
        </h5>
      </div>

      <slot></slot>
    </div>
  </li>
</template>
<script>
export default {
  props: ["id", "repository-url", "name", "author", "stars", "forks"],
};
</script>

<style lang="less">
.repo {
  display: flex;
  align-content: stretch;
  width: 25%;
  margin-bottom: @gutter*2;
  padding-right: @gutter;
  padding-left: @gutter;

  .repo-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    padding: @gutter*2;
    width: 100%;
    border: 1px solid @border-gray;
    border-radius: 6px;

    &:hover {
      background: @hover-gray;
    }

    .description {
      a {
        display: flex;
        border-radius: 4px;
        cursor: pointer;
        outline: none;
        background: @button-blue;
        color: @button-dark-blue;
        padding: @gutter-small*2 @gutter*2;
        margin-right: @gutter*5;
        border: none;
        word-break: break-word;
        text-decoration: none;
      }
      h4 {
        margin: @gutter*2 0px (@gutter / 2);
      }
    }
    .stats {
      display: flex;
      .font-size-s();
      .icon {
        width: 18px;
        margin-right: (@gutter / 2);
        &.star-icon {
          fill: #a9a917;
        }
        &.forked-icon {
          fill: @lighter-gray;
        }
      }
    }
    .actions {
      position: absolute;
      right: 0px;
      button {
        width: 40px;
        background: transparent;
        border: none;
        cursor: pointer;
        outline: none;
      }
    }
  }
}
</style>
